*{
    margin: 0;
    box-sizing: border-box;
  }
  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  body{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif; 
  }

  .cabeza{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1mm solid rgb(216, 216, 216);
  }

  .datosBusqueda{
    width: 80%;
  }
  
  .volver{
    margin: auto;
    text-align: center;
    width: 20%;
  }


  .cabeza{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1mm solid rgb(216, 216, 216);
  }

  .datosBusqueda{
    width: 80%;
  }
  
  .volver{
    margin: auto;
    text-align: center;
    width: 20%;
    background-color: rgb(180, 180, 180);
    color: rgb(8, 8, 8);
    border-radius: 32px;
    padding: 15px 25px;
  }

.volver a{
  text-decoration: none;
  font: 1em sans-serif;
  
}