.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #003366;
    color: #FFFFFF;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0099CC;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006699;
  }
  