*{
  margin: 0;
  box-sizing: border-box;
  text-align-last: center;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
body{
    background-color: #fffbf7;
    font-family: Arial, Helvetica, sans-serif; 
  }

  
  .contenedor{
    margin: 100%;
     margin: auto;
 }
  /*------------------Header-----------------*/
 .header .contenedor{
    width: 100%;
    height: 125px;
    background: #be0a0af1;
    text-align: center;
    display: flex;
}
.header {
    display: block;
    justify-content: space-between;
    text-align: right;
}
.logo {
    flex: 1;
    margin: 10px;
    width: 75px;
    height: 75px;
    display:flex;
    text-align: center;
    display:flex;
}
 .text{
  text-align: right;
  color: #fffbf7;
  font-family: Arial;
  display: inline;
  margin: 10px;
  height: -0;
  justify-items: start;
}

.icon-menu{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}
.navmuestrate #nav{ 
    background-color: #0e0a0a;
    padding-bottom: 150px;
    padding: 50;
    justify: center;
}
.navmuestrate ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.navmuestrate ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #020202;
}
.navmuestrate ul li a:hover {
  background-color: rgb(233, 233, 233);
}

.social { 
  background: black;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
  align-content: flex-start;

}
.social li { 
  display:flex;
  border: 100%;
  margin: 0 30px 0 0;
}
.social li a {
 display:block; 
 width:32px; 
 height:32px;
 position:relative;
}

.caja-principal{
  margin: 20;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100vh;
  background: rgb(197, 192, 192);
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: left;
  display: flex;
}
div{
  display: block;
}
.caja-principal .caja-secundaria{
    width: 700px;
    height: 250px;
    border: 2px solid rgb(155, 25, 25);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-block-start: auto;
    border-radius: 32px;
    margin:initial;
}

h4 {
  display: inline-block;
  margin: 4px;
  text-align: left;
  color: red;
}

input[type="text" i] {
  padding: 3px 5px;
  margin: 10px;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: normal ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: flex;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  border-style: inset;
  border-image: initial;
  flex-direction: column;
}
h5{
  text-align: left;
}

.img1{
  position: relative;
  display: inline;
  width: 210px;
  height: 250px;
  margin: 25px;
  left: 45px;
}
.titulo1{
  color: #020202;
}
.img2{
  position: relative;
  display: inline;
  width: 210px;
  height: 250px;
  margin: 25px;
  right: 45px;
}
.img3{
  position: relative;
  display: inline;
  width: 210px;
  height: 250px;
  margin: 25px;
  top: 45px;
}