*{
  margin: 0;
  box-sizing: border-box;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
body{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif; 
  }

  

  /*------------------Header-----------------*/
.social { 
    background-color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: flex-start;
}
.social img{ 
  width: 30px;
  height: 30px;
}
.social li { 
    border: 100%;
    margin: 0 30px 0 30px;
}
.social li a {
   display:block; 
   width:32px; 
   height:32px;
   position:relative;
}


.portada{
  background-color: #be0a0af1;
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  color: #fffbf7;
}
.portada article{
  margin-left: 2%;
}
.logo img{
  width: 125px;
  height: 125px;
}

.FaCENa{
  font-size: 2rem ;
}

/* 
 .header .contenedor{
    width: 100%;
    height: 125px;
    background: #be0a0af1;
    text-align: center;
    display: flex;
}
.header {
    display: block;
    justify-content: space-between;
    text-align: right;
}
.contenedor{
  margin: 100%;
   margin: auto;
}
.logo {
    flex: 1;
    margin: 10px;
    width: 75px;
    height: 75px;
    display:flex;
    text-align: center;
    display:flex;
}

 .text{
  text-align: right;
  color: #fffbf7;
  font-family: Arial;
  display: inline;
  margin: 10px;
  height: -0;
  justify-items: start;
} 
*/

/* --------------------------- Fin header ------------------------ */


/* .icon-menu{
    display: block;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 45px;
    border-radius: 5px;
    cursor: pointer;
}       esto no se de que es!? */


/* ---------------- Inicio Nav ---------------- */
nav{ 
  background-color: #3d3d3d;
  width: 100%;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover {
  background-color: rgb(233, 233, 233);
  color: #000000;
}
/* -------------- Fin Nav ---------------  */

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para el formulario */

form {
  background-color: rgb(197, 192, 192); /* Color de fondo rojo */
  width: 700px;
  border: 2px solid rgb(155, 25, 25);
  border-radius: 32px; /* Contorno redondeado */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  justify-content: left;
  color: rgb(155, 25, 25);
  width: 10%;
  margin-left: 0%;
  margin-right: 10px ;
  font-weight: bold;
  margin-bottom: 5px;
  
}

form input[type="text"] {
  text-align: center;
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 5px;
}
form input[type="text"]:hover {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;

}


form input[type="submit"] {
  background-color: #e74c3c; /* Color de fondo rojo oscuro */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #c0392b; /* Color de fondo rojo más oscuro en el hover */
}
/* ------------------------- Fin estilos formulario --------------------- */


/* 
.Buscador{
  background-color: rgb(197, 192, 192);
  width: 700px;
  border: 2px solid rgb(155, 25, 25);
  border-radius: 32px;
  padding: 20px;

  box-sizing: border-box;
  text-align: center;
  margin-block-start: auto;
  margin:initial;
} */

h4 {
  display: inline-block;
  margin: 4px;
  text-align: left;
  color: red;
}

/* input[type="text" i] {
  padding: 3px 5px;
  margin: 10px;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: normal ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: flex;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  border-style: inset;
  border-image: initial;
  flex-direction: column;
} */

h5{
  text-align: left;
}

.Result-busqueda{
  width: 70%;
  height: 200px;
  border: solid 1px #000000 ;
}


/* Section carreras  */
.carreras{
  display: flex;
  flex-direction: row;
  text-align: center;
}
.carreras article{
  margin: auto;
  width: 250px;
  background-color: rgb(155, 25, 25);
}

.carreras img{
  width: 250px;
  height: 250px;
}
.carreras h4{
  text-align: center;
  color: #fff;
}

/* ---------------- footer ------------------ */

footer{
  text-align: left;
  width: 100%;
  background-color: rgb(80, 80, 80);
  color: #ffffff;
}
footer section {
  display: flex;
  flex-direction: row;
  margin: auto;
}
footer section article {
  padding-left: 10%;
  height: 100px;
  width: 50%;
  border: #fffefe solid 0.5px;
  margin: auto;
}

